<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by AVJ and uses data from other Trusted Weather services to provide you the weather for your city.</p>
            <img class="robot me" src="/img/robot.png" alt="A robot">
        </div>
        {{>footer}}
    </body>    
</html>